* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Poppins", sans-serif;
    --background-color: #37353E;
    --text-color: #D3DAD9;
}

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
}

.site {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

main {
    background: url(background.svg)no-repeat;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

fieldset {
    margin-inline: auto;
    display: flex;
    text-align: center;
    gap: .80rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 32rem;
    padding: 2rem;
    border: 1px solid;
}

label {
    font-weight: 500;
    display: block;
}

input {
    appearance: none;
    border: none;
    border-radius: .5rem;
    width: 100%;
    max-width: 20rem;
    outline: none;
}

input:focus {
    border: solid 2px #5837c7;
}

::placeholder {
    padding-left: .50rem;
}

a {
    font-weight: 600;
}

.send:hover {
    background-color: #37353E;
    color: #D3DAD9;
    border: 1px solid #D3DAD9;
}

@media(max-width: 600px) {
    fieldset {
        width: 20rem;
    }

    label {
        font-size: small;
    }

    input {
        max-width: 10rem;
    }

    ::placeholder {
        text-transform: lowercase;
        padding-left: .25rem;
    }

    .desktop-only {
        display: none;
    }
}